@model WebApplication2.Models.Etablishment

@{
    @using Microsoft.AspNetCore.Http;
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Etablishment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.street)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.street)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.postalcode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.postalcode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.phonenumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.phonenumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.average)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.average)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.etablishmentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.etablishmentType.etablishmentTypeID)
        </dd>
    </dl>
</div>

<form method="POST" asp-antiforgery="true" action="@Url.Action("Create", "Comments")">
    <input name="etablishmentID" value="1" />
   
    <input name="comment" value="Salut" />
    <input name="rating" value="4" />

    <input type="submit" />
</form>
<div>
    <!-- if user is not the owner of the etablishment, do not display edit and back to list-->
    @if ((int)Context.Session.GetInt32("userID") == Model.userEtablishment.userID)
    {
        <a asp-action="Edit" asp-route-id="@Model.etablishmentID">Edit</a>
        <a asp-action="Index">Back to List</a>
    }


</div>
